.popular-product {
    padding-top: 140px;
    @include flexPosition(space-between);
    flex-direction: column;
    @media (max-width: 768px){
        padding-top: 40px;
    }

    &__top {
        text-align: center;
    }

    &__top-title {
        @include fontSettings(18px, 22px, $projectBrown)
    }

    &__top-text {
        @include RighteousFont(48px ,62px);
        @media (max-width: 768px){
            @include RighteousFont(28px ,32px)
        }
    }

    &__items {
        @include flexPosition(space-between);
        width: 100%;
        flex-wrap: wrap;
        
    }

    &__btn{
        margin-top: 56px;
        @include button(20px, 36px)
    }
}

.product {
    padding: 48px 48px 40px 48px;
    background-color: $productBG;
    transition: 0.3s;
    &:hover{
        transform: scale(1.02);
        background-color: rgb(17, 47, 71);
    }
    img{
        display: block;
    }

    &__content {
        padding-top: 27px;
       @include flexPosition(space-between, column);
       height: 100%;
    }

    &__content-rating {
        @include flexPosition(space-between);
        @include fontSettings(16px, 18px, 500, $projectBrown);
        &--stars {
            margin-left: 12px;
        }
    }

    &__content-name {
        margin-top: 20px;
        @include RighteousFont(24px, 30px)
    }

    &__content-price {
        margin-top: 20px;
        @include fontSettings(18px, 22px, 400);
        &--decor {
            @include fontSettings(18px, 22px, 400, $projectBrown);
           
        }
    }
}

@media (max-width: 1100px){
   .popular-product{
    padding-top: 40px;
       &__items{
        flex-direction: column;
       }
       &__top-title {
        @include fontSettings(16px, 20px, $projectBrown)
    }

    &__top-text {
        @include RighteousFont(32px ,40px);
    }
   }
}